@model KategoriViewModel
@{
    ViewData["Title"] = "NewKategori";
    Layout = "~/Views/Shared/_UserLayout.cshtml";

    var isAddMode = Model.KategoriIsAdd;
    var action = isAddMode == "Ekle" ? "NewKategori" : "UpdateKategori";
}

<h1>Kategori</h1>
<form method="post" asp-route="/member/yayintalebi/@action">
    <div class="form-group">
        <div>Kategori Adı</div>
        <input type="text" asp-for="KategoriAdi" class="form-control" />
        <span asp-validation-for="KategoriAdi" class="text-danger"></span>
    </div>

    @{
        switch (isAddMode)
        {
            case "Düzenle":
                <button class="btn btn-outline-success">Kategori Düzenle</button>
                break;
            default:
                <button class="btn btn-outline-success">Kategori Oluştur</button>
                break;
        }
    }
</form>