@model YayinTalebiViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<h1>Yayın Talebi</h1>
<form method="post">
    <div class="form-group">
        <div>Etkinlik Adı</div>
        <input type="text" asp-for="YayinTalebi.EtkinlikAdi" class="form-control" />
    </div>
    <div class="form-group">
        <div class="dropdown show">
            <div> Etkinlik Kampüsü</div>
            <br />
            <select onchange="KampusSec.salonAdiGetir(this);" class="form-select" aria-label="Default select example">
                <option selected>Kampüs Seçiniz</option>
                @foreach (var kampus in Model.Kampusler)
                {
                    <option value="@kampus.KampusId">@kampus.KampusAdi</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        <div>Etkinlik Salonu</div>
        <select asp-for="YayinTalebi.SalonId" id="Salonlar" class="form-select" aria-label="Default select example">
            <option selected>Lütfen Önce Kampus Seçiniz</option>
        </select>
    </div>
    <div class="form-group">
        <div class="dropdown show">
            <div>Kategoriler</div>
            <br />
            <select asp-for="YayinTalebi.KategoriId" class="form-select" aria-label="Default select example">
                <option selected>Kategori Seçiniz</option>
                @foreach (var kategori in Model.Kategoriler)
                {
                    <option value="@kategori.KategoriId">@kategori.KategoriAdi</option>
                }
            </select>
        </div>
    </div>

    <div class="form-group">
        <div>Katılımcı Sayısı</div>
        <input type="text" asp-for="YayinTalebi.KatilimciSayisi" class="form-control" />
    </div>

    <div class="form-group">
        <div>Başlangıç Tarihi</div>
        <input type="date" asp-for="YayinTalebi.BaslangicTarihi" class="form-control" />
    </div>

    <div class="form-group">
        <div>Bitiş Tarihi</div>
        <input type="date" asp-for="YayinTalebi.BitisTarihi" class="form-control" />
    </div>

    <div class="form-group">
        <div>Kısa Etkinlik Açıklaması</div>
        <input type="text" asp-for="YayinTalebi.EtkinlikAciklamasiKisa" class="form-control" />
    </div>

    <div class="form-group">
        <div> Etkinlik Açıklaması </div>
        <input type="text" asp-for="YayinTalebi.EtkinlikAciklamasi" class="form-control" />
    </div>

    <button class="btn btn-outline-success">Etkinlik Oluştur</button>
</form>

<script src="~/js/yayintalebi.js"></script>

